* {
    box-sizing: border-box;
    margin: 0;
}


/* Main */
main {
    width: 320px;

    margin: 0 auto;

    background-color: blueviolet;
}

    /* Deletion mode switch button */
    .del_mode {
        display: flex;
        justify-content: flex-end;

        background-color: bisque;

    }

        /* Undo button*/
        .undo_box {
            width: 34px;
            height: 34px;
            background-color: lime;

            position: relative;
            top: 5px;
            right: 15px;
        }

            #undo {
                width: 100%;
                height: 100%;

                border: none;

                cursor: pointer;
                
                background: url("../img/undo-off.svg") no-repeat;
                background-size: cover;

            }

            #undo:active {
                background: url("../img/undo-on.svg") no-repeat;
                background-size: cover;
            }
        


        /* Deletion mode box */
        .del_mode_box {
            width: 34px;
            height: 34px;
            background-color: yellowgreen;

            position: relative;
            top: 5px;
        }

            /* Off state */
            .del_mode_icon {
                width: 100%;
                height: 100%;
                background-color: green;

                background-image: url('../img/off.svg');
                background-size: cover;

                z-index: 1;
            }

            /* Changing checkbox style -> invisible + pointer */
            #trash {

                position: absolute;

                box-sizing: border-box;
                margin: 0;

                width: 100%;
                height: 100%;
                opacity: 0;

                cursor: pointer;

                z-index: 2;
            }

            /* On state */
            #trash:checked + .del_mode_icon {
                background-image: url('../img/on.svg');
            }


/* H1 */
h1 {
    text-align: center;
    margin: 35px 0;

    font-size: 2.6em;
}

/* Entry zone */
.entry_zone, #tasklist {
    width: 100%;
    margin: 0 auto;
}

.entry_zone {
    background-color: greenyellow;
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    margin-bottom: 5px;
}

    /* Text input container */
    .text_entry_box {
        width: 220px;
        height: 34px;
    }

        /* text_entry input*/
        .text_entry_box #text_entry {
            width: 100%;
            height: 100%;

            font-size: 1.5em;
        }

    
    /* Big button container */
    .add_box {
        width: 34px;
        display: flex;
        justify-content: flex-end;
        background-color: pink;
    }

        /* Big button */
        #big_button {
            width: 100%;
            height: 100%;

            font-size: 1.5em;
        }


/* Task list */

        /* Task */
        .task {
            display: flex;
            gap: 16px;
            margin-bottom: 5px;
        }

            /* Checkboc */
            .checkbox_box {
                width: 34px;
                height: 34px;
                display: flex;
                background-color: yellowgreen;

            }

                .checkbox {
                    width: 100%;
                    height: 100%;
                }

            /* Task name container */
            .taskname_box {
                width: 220px;
                height: 34px;
                
                background-color: peru;
            }

                /* task name input */

                .taskname {
                    width: 100%;
                    height: 100%;

                    font-size: 1.5em;
                }

            /* Del task button container */
            .del_task_box {
                width: 34px;
                height: 34px;
                background-color: brown;
            }

                /* del task button */
                .del_task {
                    width: 100%;
                    height: 100%;
                    
                    font-size: 1.2em;

                }